.App {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 500px;
}

.numbers-list {
  padding: 20px;
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.number-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 0;
  margin: 0;
  display: flex;
  width: 100%;  /* optional: make sure it takes the full width of its parent */
  justify-content: space-between;  /* optional: space out the spans equally */
}

.number-entry:last-child {
  border-bottom: none;
}

.number-entry .factorial {
  font-weight: bold;
  font-size: 1.2rem;
  flex: 2;
}

.number-entry .value {
  color: #888;
  font-size: 0.8rem;
  flex: 1;
}

.number-entry .timestamp {
  color: #888;
  font-size: 0.8rem;
  flex: 1;
}

.number-entry .value,
.number-entry .factorial,
.number-entry .timestamp {
  text-align: left;  /* optional: center the text inside each span */
  padding: 5px;  /* optional: give some spacing inside each span */
}

input, button {
  padding: 10px 15px;
  margin: 0.5rem 0;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input {
  width: 80%;
  border: 1px solid #ccc;
}

button {
  background-color: #007BFF;
  color: #ffffff;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}
